@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  @apply font-urbanist;
}

body {
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.spacing {
  @apply lg:px-[10rem] md:px-[25px] px-[16px];
}
