name: Continious Integration

on:
   push:
   pull_request:
jobs:
     build:
          runs-on: ubuntu-latest

          steps:
              - uses: actions/checkout@v2
                with:
                    fetch-depth: 0
              - name: Use Node.js   
                uses: actions/setup-node@v2
                with:
                  node-version: '20.9.0'

              - name: Install dep
                run: npm install

              - name: Run lint
                run: npm run lint

              - name: Run Format
                run: npm run format
               
